body {
	position: absolute;
	width: 800px;
	height: 800px;
	margin: 10px;
	border: 1px solid #000;
}

iframe {
	position: absolute;
	height: 687px;
	width: 691px;
	left: 106px;
	top: 55px;
	border: 1px solid #000;
}

#sidebar{
	width: 100px;
	position: absolute;
	border: 1px solid #000;
	height: 687px;
	left:1px;
	top:55px;
}

#topbar{
	width: 796px;
	position:absolute;
	left: 1px;
	top: 1px;
	height: 48px;
	border: 1px solid #000;
}

#bottombar {
	position: absolute;
	width: 796px;
	height: 48px;
	left: 1px;
	bottom: 1px;
	border: 1px solid #000;
}

#bHome {
	position: absolute;
	left: 1px;
	top: 1px;
	border: 1px solid #000;
	width: 96px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}

#bVectorWork {
	position: absolute;
	left: 1px;
	top: 22px;
	border: 1px solid #000;
	width: 96px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}