body {
	background-image: url("images/paper.jpg");
	background-size: 801px 801px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
	border:1px solid #000;
	width:800px;
	height:800px;
	position:absolute;
	top:0px;
	left:0px;
	font-family: monospace;
}

#DungeonArea {
	position: absolute;
	left: 90px;
	top: 30px;
	width: 600px;
	height: 200px;
	border: 1px solid #000;
	background-color: rgb(255, 255, 255, .3);
}

#genDungeon {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#Dungeon {
	padding: 5px;
}

#LootArea {
	position: absolute;
	left: 90px;
	top: 250px;
	width: 600px;
	width: 600px;
	height: 200px;
	border: 1px solid #000;
	background-color: rgb(255, 255, 255, .3);
}

#genLoot {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#Loot {
	padding: 5px;
}

#Credits {
	position: absolute;
	left: 90px;
	bottom: 20px;
	width: 600px;
	height: 16px;
	border: 1px solid #000;
	background-color: rgb(255, 255, 255, .7);
	text-align: center;
}