body {
	background-color: white;
	border:1px solid #000;
	width:800px;
	height:800px;
	position:absolute;
	top:0px;
	left:0px;
	font-family: monospace;
}

#DungeonArea {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 600px;
	height: 200px;
	border: 1px solid #000;
}

#genDungeon {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#Dungeon {
	padding: 5px;
}

#LootArea {
	position: absolute;
	left: 5px;
	top: 305px;
	width: 600px;
	width: 600px;
	height: 200px;
	border: 1px solid #000;
}

#genLoot {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#Loot {
	padding: 5px;
}